.userInfo {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mainContainer {
  display: flex;

  flex-direction: column;
  gap: 22px;
  margin-top: 40px;
  margin-bottom: 40px;
}
